*{
    margin: 0;
    padding: 0;
}
.toplogo{
    padding-top: 16px;
}
.layui-container{
    margin-left: 15%;
    margin-right: 15%;
}
.top-item{
    margin-top: 15px;
}
.top-item li{
    float: left;
    margin-right: 20px;
    color: rgb(144, 144, 144);
    font-size: smaller;
}
.promise-item{
    margin-top: 15px;
}
.promise-item li{
    float: left;
    margin-right: 20px;
    color: rgb(22, 22, 22);
    font-size: smaller;
}
.member-actions-link{
    color: rgb(144, 144, 144);
    margin-left: 16px;
}
.border-pink{
    background-color: rgb(250,42,131);
    height: 2px;
    border: none;
}
.inline-block-item{
    display: inline;
}
.top-item li::after{
    content:"|";
    margin-left: 10px;
}
.cart-tab{
    padding-top: 4%;
    padding-bottom: 1%;
    font-size: larger;
    font-weight: bold;
    color: rgb(241,1,128);
    border-bottom: 3px solid rgb(241,1,128);
    text-align: center;
}
.cart-tab-row{
    border-bottom: 1px solid rgb(226,225,225);
}
.channel-tips{
    margin-top: 2%;
}
.area-delivery-info{
    font-size: medium;
}
.area-delivery-info .area-delivery-province{
    margin-left: 5px;
    font-weight: bold;
    font-size: larger;
}
.shop-tips{
    color: #c4c4c4;
    font-weight: lighter;
}
.shop-tips::before{
    content:"|";
    margin-left: 10px;
    color: #c4c4c4;
    font-size: large;
    width: 1px;
}
.orders-table thead{
    border: 1px solid #d8d8d8;
    height: 40px;
}
.orders-table tbody tr{
    border: none;
}
.orders-table thead tr th{
    text-align: center;
}
.orders-table tbody tr td:not(.product-item){
    text-align: center;
}
.product-item > *{
    float: left;
    margin-left: 10px;
    height: 70px;
}
.m-checkbox input{
    height: 70px;
}
.product-info .title{
    width: 250px;
    height: 40px;
    overflow: hidden;
    margin-bottom: 10px;
    color: black;
    font-weight: lighter;
}
.product-info p{
    color: black;
    font-weight: lighter;
}
.price-item strong{
    font-size: large;
    color: rgb(241,1,128);
}
.product-num{
    background: none;
    outline: none;
    border: none;
    width: 20px;
}
.order-button-del{
    color: rgb(51,51,51);
}
.orders-table > *{
    border: 1px solid #d8d8d8;
}
.orders-total{
    border: 1px solid #d8d8d8;
    margin-top: 4%;
}
.orders-panel .price-panel-item{
    margin-top: 1%;
    float: right;
    color: #929292;
    font-weight: lighter;
    font-size: small;
}
.orders-panel .price-panel-item .product-num{
    color: black;
}
.orders-panel .price-panel-coupon{
    margin-top: 1%;
    margin-left: 1%;
    float: left;
}
.orders-price{
    margin-top: 1%;
    color: #929292;
    font-weight: lighter;
    font-size: small;
}
.orders-price .sum-price-text{
    text-align: center;
}
.orders-price .sum-price{
    color: rgb(241,1,128);
    font-weight: bold;
    font-size: larger;
}
.price-panel-coupon button{
    color: rgb(241,1,128);
    font-weight: lighter;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(53, 53, 53);
}
.price-panel-coupon button:hover{
    color: rgb(241,1,128);
    background-color: rgb(253,244,247);
}
.orders-settlement{
    height: 60px;
}
.orders-settlement .orders-tips{
    height: 100%;
    background-color: rgb(243,243,243);
    text-align: right;
    line-height: 60px;
}
.settlement-button{
    height: 100%;
    background-color: rgb(244,52,153);
}