/*头部开始 */
.header{
    width:100% ;
    height: 40px;
    line-height: 40px;
    background-color: black;
}
.wrap{
    width: 1226px;
    margin: 0 auto;
    background-color: #FAFAFA;
}
.neader-left{
    float: left;
    /*padding: 14px 49px;*/
}
.header-right{
    float:right;
}
.header li{
    position: relative;
    float: left;
    height: 40px;
    text-align: center;
}
.header a{
    color: #b0b0b0;
    font-size: 12px;
}
/*头牌悬停变白*/
.header a:hover{
    color: #fff;
}
.header span{
    color: #424242;
    margin: 0 3.6px;
    font-size: 12px;
}
/* ==============头部样式结束============*/
/* 导航样式开始 */
.nav{
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #fff;
}
/* =logo模块= */
.logo{
    float: left;
    width: 234px;
    height: 100px;
    text-align: left;
}
.logo>img{
    width: 160px;
    margin-top: 7px;

}
.nav-bar>ul>li{
    float: left;
}
.nav-bar>ul>li>a{
    display: block;
    padding: 38px 10px;
    color: #333;
}
.nav-bar>ul>li>a:hover{
    color: #f10180;
}
/* =中间导航模块= */
.nav-bar{
    padding: revert;
    float: left;
    width: 696px;
    height: 100px;
}
/* 下拉列表 */
.nav-bar-list{
    z-index: 850;
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 229px;
    border-top: 1px solid #e0e0e0;
    background-color: #fff;
    box-shadow: 0 3px 4px rgba(0,0,0, .18);
}
.nav-bar li:hover>.nav-bar-list{
    display: block;
}
.nav-bar-img{
    width: 203px;
    height: 110px;
    border-right:1px solid #e0e0e0;
    margin-bottom: 20px;
}
.nav-bar-list p{
    line-height: 20px;
    font-size: 12px;
    color: #333;
}
.damo{
    background-color: #f10180;
    color: #FAFAFA;
}
.nav-bar-list p:last-of-type{
    color: #f10180;
}
/*导航条*/
.nav-bar-e{
    float: left;
    position: absolute;
    width: 80%;
    height: 50px;
    margin-top:100px;
}
.nav-bar-e>ul>li{
    float: left;
}
.nav-bar-e>ul>li>a{
    display: block;
    padding: 14px 49px;
    color: #333;
}
.nav-bar-e>ul>li>a:hover{
    color: #f10180;
}
/* 商品特卖的下拉列表 */
.nav-bar-list{
    z-index: 850;
    display: none;
    position: absolute;
    top: 46px;
    left: 0;
    width: 151px;
    height: 400px;
    border-top: 1px solid #e0e0e0;
    background-color: #fff;
    box-shadow: 0 3px 4px rgba(0,0,0, .18);
}
.nav-bar-e li:hover>.nav-bar-list{
    display: block;
}
/*商品特卖的下拉标签控制*/
.nav-bar-list li{
    width: 150px;
    background-color: #ff6700;
    padding-top: 25px;
    float: left;
}
.nav-bar-img{
    width: 203px;
    height: 110px;
    border-right:1px solid #e0e0e0;
    margin-bottom: 20px;
}
.nav-bar-list p{
    line-height: 20px;
    font-size: 12px;
    color: #333;
}
.nav-bar-list p:last-of-type{
    color: #ff6700;
}
/*==========================================================*/
/* =搜索框= */
.search{
    position: relative;
    float: left;
    width: 296px;
    height:50px ;
    margin-top: 25px;
}
.search input{
    /* inputhebutton是行内块 行内块会识别代码之间的空白 */
    float: left;
    width: 223px;
    height: 48px;
    padding: 0 10px;
    border: 1px solid #e0e0e0;
    border-right: none;
    /* 去掉input自带点击时黑色的边框 */
    outline: none;
    transition: all .2s;
}
.search button{
    float: left;
    width: 52px;
    height: 50px;
    background-color: #fff;
    border:1px solid #e0e0e0;
}
.search button:hover{
    background-color: #ff6700;
    border-color: #ff6700;
    color: #FFF;
}
/* 轮播图开始  */
.banner{
    width: 100%;
    height: 460px;
}
.banner-box{
    position: relative;
    margin-top:50px;
    width: 100%;
    height: 460px;
    background-color: aqua;
}
/* 轮播图结束  */
/* 主体开始 */
.content{
    width: 100%;
     /*background-color: aqua;*/
    padding: 4px 0 12px;
}
.home-box{
    width: 100%;
    height: 120px;
    margin: 22px 0;
}
/*广告区开始*/
.adver{
    width: 100%;
    height: 300px;
}
.abver-a{
    width: 378px;
    height: 250px;
    float: left;
    border-radius: 10px;
    margin: 28px 0px 21px 14px;
    background-color: #FFB800;
}
.abver-b,.abver-c{
    width: 378px;
    height: 250px;
    float: left;
    border-radius: 10px;
    margin: 28px 0px 21px 33px;
    background-color: #0000FF;
}
/*广告区结束*/
/*每日必看专区开始*/
.shop{
    width: 100%;
    height: 350px;
}
.shop-nav{
    float: left;
    width: 580px;
    height: 345px;
    border-style: groove;
    margin: 0px 36px 0px 0px;
}
.shop-nav-b{
    float: left;
    width: 580px;
    height: 345px;
    border-style: groove;
}
.shop-a{
    float: left;
    width: 100%;
    height: 70px;
}
.shop-a img{
    float: left;
}
.shop-a span{
    float: right;
    font-size: 20px;
    margin: 20px 30px 0px 0px;
    background-color: #ffffff;
}
.shop-b{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}
.itms{
    float: left;
    width: 170px;
    height: 170px;
    margin-bottom: 14px;
    margin-left: 14px;
    transition: all .2s linear;
}
.goods-img{
    width: 160px;
    margin: 20px 0 18px;
}
.name{
    width: 214px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 auto;
    height: 21px;
    margin-bottom: 2px;
    font-size: 14px;
    color: #333;
}
.price{
    width: 50px;
    height: 20px;
    color: #ffffff;
    font-size: 14px;
    float: left;
    border-radius: 8px;
    margin: -24px 0px 0px 30px ;
    background-color: #f03867;
}
/*每日必看专区结束*/
/*折扣专区开始*/
.rebate{
    width: 100%;
    height: 400px;
}
.rebate-box{
    width: 570px;
    height: 400px;
}
.rebate-nav{
    width: 570px;
    float: left;
    height: 273px;
    margin: 40px 0px 0px 12px;
    background-color: #9F9F9F;
}
.rebate-nav-b{
    width: 570px;
    float: left;
    height: 273px;
    margin: 40px 0px 0px 39px;
    background-color: #9F9F9F;
}

.rebate-name{
    width: 600px;
    height: 35px;
    float: left;
}
.rebate-a{
    width: 30px;
    height: 30px;
    font-size: 30px;
    font-weight: bold;
    float: left;
    color: #f03867;
}
.rebate-b,.rebate-c{
    font-size: 20px;
    font-weight: bold;
    float: left;
    margin: 6px 0px 0px 0px;
}