.layui-row{
    width: 100%;
    height: 30px;
    background-color: #c3bebe;
}
.hade-lest{
    float: left;
}
.layui-row li{
    position: relative;
    float: left;
    height: 30px;
}
.layui-row  a{
    color:  #666666;
    font-size: 14px;
    padding: 5.2px;
}
.layui-row span{
    color: #424242;
    margin: 0 3.6px;
    font-size: 12px;
}