* {
    margin: 0;
    padding: 0;
}

.m-address {
    background: #fff;
    margin: 10px 0;
}
.m-address .u-address-a {
    position: relative;
    float: right;
    margin-top: -4px;
    font-size: 12px;
}
.ui-btn-primary{
    background-color: #f10180;
    border: 1px solid #f10180;
}
.ui-btn-primary{
    color: #fff;
}
.m-address-title {
    padding: 16px 20px 18px;
    border-bottom: 1px solid #ebebeb;
    color: grey;
}
.ui-btn-medium{
    min-width: 60px;
    padding: 0 19px;
    font: 15px/30px tahoma,arial,Hiragino Sans GB,WenQuanYi Micro Hei,'\5FAE\8F6F\96C5\9ED1','\5B8B\4F53',sans-serif;
    height: 30px;
    display: inline-block;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    vertical-align: top;
    transition: .3s;
    cursor: pointer;
}