* {
    margin: 0;
    padding: 0;
}

/* ==============header================ */
.main-nav {
    height: 40px;
    background-color: #f10180;
}

.grid-demo li {
    display: block;
    position: relative;
    z-index: 8;
}

.nav-myvip {
    width: 108px;
    float: left;
}

.nav-comingsoon {
    width: 92px;
    float: right;
}

.nav-category {
    width: 60px;
    float: right;
}

.grid-demo {
    display: block;
    height: 100%;
    line-height: 40px;
}

.grid-demo a {
    display: block;
    height: 100%;
    font-size: 16px;
    color: white;
    font-weight: 700;
    text-align: center;
}

.main-nav .layui-row {
    display: block;
    height: 100%;
}

.main-nav .layui-row div {
    display: block;
    height: 100%;
}

/* ==============m-body================ */
.m-body {
    background: #f5f6f8 url(../images/myInfo-layout-bg.png) center 0 no-repeat;
    min-height: 600px;
}

.m-body .layui-row {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 24px;
    padding-bottom: 24px;
}

/* 左侧导航栏 */
.g-sidebar{
    float: left;
}
.g-sidebar>* {
    /* 主题背景颜色 */
    background-color: #f10180;
}

.m-body .layui-row .layui-col-md8 ul {
    width: 107px;
}

.layui-nav-tree .layui-nav-child dd.layui-this,
.layui-nav-tree .layui-nav-child dd.layui-this a,
.layui-nav-tree .layui-this,
.layui-nav-tree .layui-this>a,
.layui-nav-tree .layui-this>a:hover {
    /* 子标题时框框颜色 */
    background-color: #fd5ab1;
    /* 选择子标题时字体颜色  */
    color: #fff;
}

.layui-nav-tree .layui-nav-bar {
    width: 5px;
    height: 0;
    /* 鼠标悬浮的颜色 */
    background-color: #f10180;
}

.layui-nav .layui-nav-item a:hover,
.layui-nav .layui-this a {
    /* 展开导航栏时颜色 */
    color: #fff;
}

/* 右侧内容栏 */
.g-content {
    float: left;
    width: 820px;
    min-height: 600px;
    background-color: white;
}