* {
    margin: 0;
    padding: 0;
}


/* ==============header================ */
.main-nav {
    height: 40px;
    background-color: #f10180;
}

.grid-demo li {
    display: block;
    position: relative;
    z-index: 8;
}

.nav-myvip {
    width: 108px;
    float: left;
}

.nav-comingsoon {
    width: 92px;
    float: right;
}

.nav-category {
    width: 60px;
    float: right;
}

.grid-demo {
    display: block;
    height: 100%;
    line-height: 40px;
}

.grid-demo a {
    display: block;
    height: 100%;
    font-size: 16px;
    color: white;
    font-weight: 700;
    text-align: center;
}

.main-nav .layui-row {
    display: block;
    height: 100%;
}

.main-nav .layui-row div {
    display: block;
    height: 100%;
}

/* ==============m-body================ */
.m-body {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 24px;
    padding-bottom: 24px;
    background: #f5f6f8 url(../images/myInfo-layout-bg.png) center 0 no-repeat;
    min-height: 600px;
}
.m-content{
    margin-left: 250px;
}
/* .m-body .layui-row {

} */

/* 左侧导航栏 */
.g-sidebar{
    float: left;
}
.g-sidebar>* {
    /* 主题背景颜色 */
    background-color: #f10180;
}

.m-body .g-sidebar {
    width: 107px;
}

.layui-nav-tree .layui-nav-child dd.layui-this,
.layui-nav-tree .layui-nav-child dd.layui-this a,
.layui-nav-tree .layui-this,
.layui-nav-tree .layui-this>a,
.layui-nav-tree .layui-this>a:hover {
    /* 子标题时框框颜色 */
    background-color: #fd5ab1;
    /* 选择子标题时字体颜色  */
    color: #fff;
}

.layui-nav-tree{
    width: 100px;
}

.layui-nav-tree .layui-nav-bar {
    width: 5px;
    height: 0;
    /* 鼠标悬浮的颜色 */
    background-color: #f10180;
}

.layui-nav .layui-nav-item a:hover,
.layui-nav .layui-this a {
    /* 展开导航栏时颜色 */
    color: #fff;
}

/* 右侧内容栏 */
.g-content {
    display: block;
    float: left;
    margin-left: 10px;
    width: 820px;
    min-height: 600px;

}
#m-title{
    font-size: 12px;
}
.mad {
    position: relative;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #ececec;
    padding: 1px 5px 1px;
    line-height: 20px;
    margin-bottom: 10px;
}
.J-declare-warning p{
    display: block;
    margin-left: 40px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-end: 0px;
    font-size: 12px;
}
.i-horn {
    position: absolute;
    left: 15px;
    top: 15px;
    background-image: url(../images/sprites.png);
    background-position: -145px -174px;
    width: 21px;
    height: 21px;
}

.layui-tab-content .col-name{
    height: 36px;
    line-height: 36px;
    background-color: #f9f9f9;
    border: 1px solid #eaeaea;
}
.col-name .goods {
    display: inline-block;
    text-align: center;
    width: 406px;
    font-size: 12px;
}
.col-name .total {
    display: inline-block;
    text-align: center;
    width: 127px;
    font-size: 12px;
}
.col-name .state {
    display: inline-block;
    text-align: center;
    width: 97px;
    font-size: 12px;
}
.col-name .control {
    display: inline-block;
    text-align: center;
    width: 174px;
    font-size: 12px;
}
.order-hd {
    background-color: #f9f9f9;
    color: #333;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    border: 1px solid #eaeaea;
    border-bottom: 0;
    border-left: 2px solid #f10180;
}
.order-bd {
    background-color: #fff;
    border: 1px solid #eaeaea;
    display: table;
    width: 818px;
}
.ii-te {
    background-image: url(../images/sprites.png);
    background-position: -242px -205px;
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    margin-right: 8px;
}

.order-hd span {
    vertical-align: middle;
    font-size: 12px;
    display: inline-block;
}
.order-hd .num {
    vertical-align: middle;
    margin-right: 10px;
    color: #666;
    font-size: 12px;
}
.order-hd .order-gen-date {
    float: right;
    color: #999;
    margin-top: 2px;
}

.order-bd .order-goods {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    width: 406px;
    border-right: 1px solid #eaeaea;
}
.order-bd .order-price {
    color: #999;
    width: 128px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border-right: 1px solid #eaeaea;
}
.order-bd .order-state {
    width: 97px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border-right: 1px solid #eaeaea;
}
.order-bd .order-control {
    border-right: 1px solid #eaeaea;
    width: 97px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.order-bd .order-other {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.order-bd .order-goods .good {
    display: block;
    padding: 20px;
    border-bottom: 1px solid #eaeaea;
}
.order-bd .order-goods .pic img {
    vertical-align: middle;
}
.goods-info {
    width: 300px;
    word-wrap: break-word;
    vertical-align: middle;
    display: inline-block;
}
.goods-info .goods-name {
    width: 170px;
    float: left;
    margin-top: 10px;
}
.goods-info .name {
    display: block;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
}
.goods-info .size {
    color: #999;
    font-size: 12px;
}
.goods-info .goods-num {
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}
.goods-info {
    width: 300px;
    word-wrap: break-word;
    vertical-align: middle;
    display: inline-block;
}
.goods-info .goods-num .num{
    font-size: 12px;
}
.order-bd .order-price strong {
    font-size: 14px;
    font-family: arial;
    color: #333;
}
.order-bd .order-price p {
    font-size: 12px;
}
.order-bd .order-state span {
    display: block;
    font-size: 12px;
}
.order-bd .order-state .green {
    color: #16a61e;
}
.order-track {
    position: relative;
    zoom: 1;
    height: 22px;
    margin-bottom: -4px;
}
.order-track a{
    font-size: 12px;
}
.order-state a{
    font-size: 12px;
}
.order-bd .order-control .ui-btn-mini {
    text-decoration: none;
}
.confirmSign-content .ui-btn-mini {
    margin-top: 6px;
}
.ui-btn-secondary, .ui-btn2 {
    background-color: #fcedf2;
    border: 1px solid #ffbee0;
    color: #e00078;
}
.ui-btn-mini {
    min-width: 24px;
    padding: 0 5px;
    font: 12px/20px tahoma,arial,Hiragino Sans GB,WenQuanYi Micro Hei,'\5FAE\8F6F\96C5\9ED1','\5B8B\4F53',sans-serif;
    height: 20px;
}
.J-cancel-delivery, .J-modify{
    font-size: 12px;
}
.order-bd .order-state .gray {
    color: #9e9e9e;
}
.order-other p a{
    font-size: 12px;
}
.order-bd .order-state .red {
    color: #f10180;
}
.ui-btn-primary, .ui-btn1 {
    background-color: #f10180;
    border: 1px solid #f10180;
}
.order-bd .order-control .ui-btn-mini {
    text-decoration: none;
}
.ui-btn1{
    color: #fff;
    display: inline-block;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    vertical-align: top;
    -webkit-transition: .3s;
    transition: .3s;
    cursor: pointer;
}
.ui-tips-pop, .ui-tooltips {
    position: absolute;
    max-width: 800px;
    border: 1px solid #dbdada;
    border-radius: 2px;
    box-shadow: 0 0 3px rgb(0 0 0 / 10%);
    font: 12px/18px tahoma,arial,Hiragino Sans GB,WenQuanYi Micro Hei,'\5FAE\8F6F\96C5\9ED1','\5B8B\4F53',sans-serif;
    color: #4d4d4d;
    z-index: 50;
}
.u-tips-pop {
    visibility: hidden;
    *visibility: visible;
    *display: none;
    opacity: 0;
    -webkit-transition: opacity .3s linear;
    transition: opacity .3s linear;
    top: 21px;
    width: 456px;
    left: -148px;
    height: 300px;
    background-color: #fff;
}
.order-track:hover .u-tips-pop {
    visibility: visible;
    opacity: 1;
    display: block;
}