/******************************* 商品资料 ***********/
*{
    padding: 0;
    margin: 0;
}
.detail-container{
    width: 1000px;
    /* height: 100px; */
    /* background-color: rgb(194, 255, 230); */
    margin: 0 auto;
    margin-top: 150px;
}
/* 锚点-头标题栏 */
.detail-container .maodian-box{
    width: 100%;
    background-color: rgb(255, 195, 195);
    height: 36px;
    margin-bottom: 15px;
}
.detail-container .maodian-box .maodian-ul{
    width: 100%;
    height: 100%;
    border-top: 1px solid #e7e7e7;
    border-bottom: 3px solid #000;
    background-color: #fff;
    border-right: 1px solid #e7e7e7;
}
.detail-container .maodian-box .maodian-ul ul{
    position: relative;
}
.detail-container .maodian-box .maodian-ul ul a{
    cursor: pointer;
    float: left;
    padding: 0 15px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 14px;
    color: #333;
    border-left: 1px solid #e7e7e7;
}
.detail-container .maodian-box .maodian-ul ul a:hover{
    border-bottom: 3px solid #f10180;
    color: #f10180;
}
/* 参数图片等部分 */
/* 自适应盒子 */
.detail-container .detail-box{
    width: 100%;
    /* background-color: rgb(175, 172, 250); */
}
/* *************************************************** 商品尺码*/
.detail-container .detail-box .pro-size{
    width: 100%;
    /* background-color: rgb(208, 253, 254); */
}
.detail-container .detail-box .pro-size .pro-modol-head{
    text-align: left;
    clear: both;
    /* padding-left: 20px; */
    background: url(//shop.vipstatic.com/img/detail/detial_line-hash-73c7b229.png?f06a5522) repeat-x left bottom;
    position: relative;
    padding-bottom: 6px;
}
.detail-container .detail-box .pro-size .pro-modol-head p{
    color: #f10180;
    font-size: 20px;
}
.detail-container .detail-box .pro-size .pro-modol-head p img{
    height: 13px;
    width: 13px;
}
.detail-container .detail-box .pro-size .pro-modol-head p i{
    color: #999;
    font-size: 20px;
    padding-left: 5px;
    position: relative;
    bottom: -2px;
    font-family: arial;
}
/* 尺码对照表 */
.detail-container .detail-box .pro-size .pro-size-table{
    font-size: 14px;
    position: relative;
    line-height: 1.8;
    margin-top: 10px;
}
.detail-container .detail-box .pro-size .pro-size-table .h4-warming b{
    font-size: 14px;
    padding-bottom: 10px;
    font-weight: 700;
}
.detail-container .detail-box .pro-size .pro-size-table .h4-warming img{
    float: right;
    margin-top: 2px;
}
.detail-container .detail-box .pro-size .pro-size-table .h4-warming span{
    float: right;
}
/* table1 */
.detail-container .detail-box .pro-size .pro-size-table .pro-table{
    width: 100%;
    background-color: rgb(184, 200, 242);
}
.detail-container .detail-box .pro-size .pro-size-table .pro-table .layui-form thead tr td{
    background-color: #dbdbdb;
    color: #333;
    font-weight: 700;
}
.detail-container .detail-box .pro-size .pro-size-table .pro-table .layui-form tr th{
    padding: 0;
    height: 36px;
    text-align: center;
    line-height: 36px;
}
.detail-container .detail-box .pro-size .pro-size-table .pro-table .layui-form tr td{
    padding: 0 ;
    height: 36px;
    text-align: center;
    line-height: 36px;
}
/* 温馨提示这一行 */
.detail-container .detail-box .pro-size .pro-size-table .pro-table .layui-form :nth-child(7) td{
    text-align: left;
}
.detail-container .detail-box .pro-size .pro-size-table .pro-table .layui-form :nth-child(7) td :nth-child(1){
    color: #cd197a;
}
/*********************************************** 商品参数 */
.detail-container .detail-box .pro-static{
    width: 100%;
    /* background-color: rgb(226, 220, 252); */
    margin-top: 20px;
}
.detail-container .detail-box .pro-static .pro-modol-head{
    text-align: left;
    clear: both;
    /* padding-left: 20px; */
    background: url(//shop.vipstatic.com/img/detail/detial_line-hash-73c7b229.png?f06a5522) repeat-x left bottom;
    position: relative;
    padding-bottom: 6px;
}
.detail-container .detail-box .pro-static .pro-modol-head p{
    color: #f10180;
    font-size: 20px;
}
.detail-container .detail-box .pro-static .pro-modol-head p img{
    height: 13px;
    width: 13px;
}
.detail-container .detail-box .pro-static .pro-modol-head p i{
    color: #999;
    font-size: 20px;
    padding-left: 5px;
    position: relative;
    bottom: -2px;
    font-family: arial;
}
/* detail-table */
.detail-container .detail-box .pro-static .pro-detail-table{
    width: 100%;
    padding: 10px 0 20px;
}
.detail-container .detail-box .pro-static .pro-detail-table .layui-table tbody tr td{
    background-color: rgb(255, 255, 255);
    color: #999;
    width: 20%;
    border: 1px #ededed solid;
}
.detail-container .detail-box .pro-static .pro-detail-table .layui-table tbody tr th{
    background: #f5f5f5;
    font-weight: 700;
    text-align:right;
    padding: 0;
    color: #666;
    width: 4%;
}
.detail-container .detail-box .pro-static .pro-detail-table .layui-table tbody tr :last-child{
    text-align: center;
}
/******************************************** 商品展示-图片 */
.detail-container .detail-box .pro-show-imag{
    width: 100%;
    /* background-color: rgb(176, 238, 195); */
    margin-top: 20px;
}
.detail-container .detail-box .pro-show-imag .pro-modol-head{
    text-align: left;
    clear: both;
    /* padding-left: 20px; */
    background: url(//shop.vipstatic.com/img/detail/detial_line-hash-73c7b229.png?f06a5522) repeat-x left bottom;
    position: relative;
    padding-bottom: 6px;
}
.detail-container .detail-box .pro-show-imag .pro-modol-head p{
    color: #f10180;
    font-size: 20px;
}
.detail-container .detail-box .pro-show-imag .pro-modol-head p img{
    height: 13px;
    width: 13px;
}
.detail-container .detail-box .pro-show-imag .pro-modol-head p i{
    color: #999;
    font-size: 20px;
    padding-left: 5px;
    position: relative;
    bottom: -2px;
    font-family: arial;
}
.detail-container .detail-box .pro-show-imag .put-image{
    width: 100%;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 20px;
}
.detail-container .detail-box .pro-show-imag #image4{
    margin-bottom: 0;
    padding-bottom: 0;
}    

.detail-container .detail-box .pro-show-imag #image5{
    margin-top: 0;
    padding-top: 0;
}    
/* *************************************************************全部评价 */
.detail-container .detail-box .pro-all-comment{
    width: 100%;
    /* background-color: #5da2c2; */
}
/*************** 综合评论评分盒子 */
.detail-container .detail-box .pro-all-comment .comprehensive-coment-box{
    width: 100%;
    /* background-color: #ddf4ff; */
    height: 200px; 
    border: 1px solid #999;
}
.detail-container .detail-box .pro-all-comment .comprehensive-coment-box .grey-head{
    background-color: #eae8eb;
    line-height: 45px;
    padding-left: 15px;
}
/* 100%盒子 */
.detail-container .detail-box .pro-all-comment .comprehensive-coment-box .comprehensive-score{
    margin: 36px 35px 45px 70px;
    height: 80px;
    width: 165px;
    border: 1px white solid;
    border-right: 1px #999 solid ;
    float: left;
    padding-right: 35px;
    /* background-color: rgb(169, 64, 64); */
}
.detail-container .detail-box .pro-all-comment .comprehensive-coment-box .comprehensive-score :nth-child(1){
    font-size: 50px;
    display: block;
    line-height: 40px;
    margin-bottom: 5px;
    color: #de327f;
    font-family: "Microsoft YaHei";
    height: 40px;
}
.detail-container .detail-box .pro-all-comment .comprehensive-coment-box .comprehensive-score :nth-child(2){
    color: #333;
    margin-left: 10px;
}
.detail-container .detail-box .pro-all-comment .comprehensive-coment-box .comment-selections{
    margin: 36px 35px 45px 35px;
    /* height: 100px; */
    width: 620px;
    /* background: rgb(62, 69, 201); */
    float: left;
}
.detail-container .detail-box .pro-all-comment .comprehensive-coment-box .comment-selections .selecttion{
    height: 23px;
    /* width: 100px; */
    background-color:#fff;
    float: left;
    margin: 0px 10px 10px 0px;
    border: 1px solid #999;
    padding: 5px 12px 5px 12px;
    border-radius: 3px;
}
.detail-container .detail-box .pro-all-comment .comprehensive-coment-box .comment-selections .selecttion span{
    color: #666;
    line-height: 23px;
    font-size: 12px;

}
.detail-container .detail-box .pro-all-comment .comprehensive-coment-box .comment-selections .line{
    /* height: 50px; */
    width: 480px;
    /* background-color: rgb(221, 105, 105); */
    margin-top: 90px;
}
.detail-container .detail-box .pro-all-comment .comprehensive-coment-box .comment-selections .line legend{
    margin: auto;
    padding: 0 10px;
    font-size: 12px;
    font-weight: 300;
}

/* **********用户评论盒子 */
.detail-container .detail-box .pro-all-comment .comments-bob{
    width: 100%;
    height: 500px;
    /* background-color: #90dcff; */
}
/* **********用户评论 */
.detail-container .detail-box .pro-all-comment .comments-bob .comment{
    width: 100%;
    /* background-color: #00aeff; */
}
.detail-container .detail-box .pro-all-comment .comments-bob .comment .user-name-image{
    width: 210px;
    height: 40px;
    padding: 30px;
    background-color: #fff;
    float: left;
    margin-right: 10px;
}
.detail-container .detail-box .pro-all-comment .comments-bob .comment .user-text{
    width: 630px;
    height: 300px;
    /* background-color: rgb(208, 249, 255); */
    float: left;
}
.detail-container .detail-box .pro-all-comment .comments-bob .comment .user-text .time{
    width: 100%;
}
.detail-container .detail-box .pro-all-comment .comments-bob .comment .user-text .time .time1{
    float: left;
    padding-right: 10px;
    color: #6f6f6f;
    font-size: 12px;
}
.detail-container .detail-box .pro-all-comment .comments-bob .comment .user-text .time :nth-child(2){
    margin-right: 10px;
}
.detail-container .detail-box .pro-all-comment .comments-bob .comment .user-text .main-text{
    width: 100%;
    float: left;
    margin-top: 15px;
    color: #6f6f6f;
    font-size: 12px;
}
.detail-container .detail-box .pro-all-comment .comments-bob .comment .user-text .main-text span{
    display: block;
}
.detail-container .detail-box .pro-all-comment .comments-bob .comment .user-text .main-text-image{
    width: 100%;
}
.detail-container .detail-box .pro-all-comment .comments-bob .comment .user-text .main-text-image .text-imag{
    height: 72px;
    width: 72px;
    border: 1px solid #999;
    float: left;
    margin-top: 15px;
    padding: 3px;
}
/* *************************************************************商品咨询 */


/* *************************************************************关于我们 */
