*{
    margin: 0;
    padding: 0;
}
/* =================头部导航固定================ */
.head{
    width: 100%;
    height: 28px;
    background-color: rgb(232, 230, 230);
}
.head .head-center{
    display: block;
    font-size: 12px;
    width: 1170px;
    height: 28px;
    /* border: 1px solid; */
    margin: 0 auto;
    line-height: 27px;

}
.head .head-center .user{
    width:70px;
    height: 27px;
    /* border: 1px solid; */
    margin-left: 450px;
    float: left;
    margin-right: 32px;
}
.head .head-center .user:hover .user-name{
    color: #f10180;
}
.head .head-center .user:hover .user-img{
    background-image: url("../svg/user-img-hover.svg");
}

.head .head-center .user-img{
    float: left;
    width: 20px;
    height: 20px;
    /* border: 1px solid; */
    background: url("../svg/user-img.svg");    
    margin-right: 5px;
    margin-top: 3px;
}


.head .head-center .user-name:hover .user-ul{
    display: block;
   
}
.head .head-center  .user-ul{
    list-style: none;
    display: none;
}
.head .head-center .user-name{
    width: 40px;
    height: 27;
    /* border: 1px solid; */
    color: rgb(112, 113, 114);
}

.head .head-center .qiandao{
    display: block;
    width: 80px;
    height: 27px;
    float: left;
    /* border: 1px solid; */
    margin: 0 32px;
}
.head .head-center .qiandao .qiandao-img{
    width: 20px;
    height: 20px;
    background-image: url("../svg/qiandao-img.svg") ;
    float: left;
    margin-top: 3px;
}
.head .head-center .qiandao:hover .qiandao-img{
    background-image: url("../svg/qiandao-img-hover.svg");
}
.head .head-center .qiandao:hover .qiandao-name{
    color: #f10180;}

.head .head-center .qiandao .qiandao-name{
    width: 50px;
    height: 27px;
    float: left;
    line-height: 27px;
    text-align: center;
    /* border: 1px solid; */
    color: rgb(112, 113, 114);
    margin-left: 5px;
}
.head .head-center .order{
    color: rgb(112, 113, 114);
    display: block;
    text-decoration: none;
    width: 50px;
    height: 27px;
    float: left;
    margin: 0 32px;
    /* border: 1px solid; */
}
.head .head-center .order:hover{
    color: #f10180;
}
.head .head-center .TeMai{
    color: rgb(112, 113, 114);
    display: block;
    text-decoration: none;
    width: 50px;
    height: 27px;
    float: left;
    margin: 0 32px;
    /* border: 1px solid; */
}
.head .head-center .TeMai:hover{
    color: #f10180;
}

/* .head .head-center .TeMai .temai-ul{
    display: none;
} */
.head .head-center .club{
    color: rgb(112, 113, 114);
    display: block;
    text-decoration: none;
    width: 60px;
    height: 27px;
    float: left;
    margin: 0 32px;
    /* border: 1px solid; */
}
.head .head-center .club:hover{
    color: #f10180;
}
.head .head-center .kefu{
    color: rgb(112, 113, 114);
    display: block;
    text-decoration: none;
    width: 50px;
    height: 27px;
    float: left;
    margin-left:  32px;
    /* border: 1px solid; */
}
.head .head-center .kefu:hover{
    color: #f10180;
}
/* ====================副头部==================================== */
.fu-header{
    width: 100%;
    height: 100px;
    /* border: 1px solid; */

}
.fu-header .center-header{
    width: 1170px;
    height: 100px;
    margin: 0 auto;
    /* border: 1px solid; */
}
.fu-header .viplogo{
    display: block;
    width: 160;
    height: 100px;
    margin-left: -20px;
    min-width: 160px;
    overflow: hidden;
    /* border: 1px solid; */
    float: left;
}
.fu-header .zhengpin{
    width: 100px;
    height: 100px;
    float: left;
}
.fu-header .zhengpin .zhengpin-img{
    width: 20px;
    height: 20px;
    /* border: 1px solid; */
    margin-top: 30px;
    float: left;
}
.fu-header .zhengpin .zhengpin-name{
    
    width: 60px;
    height: 20px;
    /* border: 1px solid; */
    font-size: 12px;
    color: rgb(112, 113, 114);
    line-height: 20px;
    margin-top: 33px;
    margin-left: 5px;
    float: left;
}
/* 88元包邮 */
.fu-header .baoyou{
    width: 100px;
    height: 100px;
    float: left;
}
.fu-header .baoyou .baoyou-img{
    width: 20px;
    height: 20px;
    /* border: 1px solid; */
    margin-top: 30px;
    float: left;
}
.fu-header .baoyou .baoyou-name{

    width: 60px;
    height: 20px;
    /* border: 1px solid; */
    font-size: 12px;
    color: rgb(112, 113, 114);
    line-height: 20px;
    margin-top: 33px;
    margin-left: 5px;
    float: left;
}
/* 退换无忧 */
.fu-header .tuihuan{
    width: 100px;
    height: 100px;
    float: left;
    /* border: 1px solid; */
}
.fu-header .tuihuan .tuihuan-img{
    width: 20px;
    height: 20px;
    /* border: 1px solid; */
    margin-top: 30px;
    float: left;
}
.fu-header .tuihuan .tuihuan-name{
    width: 50px;
    height: 20px;
    /* border: 1px solid; */
    font-size: 12px;
    color: rgb(112, 113, 114);
    line-height: 20px;
    margin-top: 33px;
    margin-left: 5px;
    float: left;
}
/* ==============头部搜索框====================== */
.fu-header .search{
    width: 470px;
    height: 33px;
    /* border: 1px solid; */
    float: left;
    margin-top: 33px;
    margin-left: 200px; 
}
.fu-header .sousuo{
    width: 340px; 
    height: 32px;
    /* background-color: rgb(211, 208, 208); */
    float: left;
    /* margin-top: 33px;
    margin-left: 150px;   */
    border-top-left-radius: 15px;  
    border-bottom-left-radius: 15px;  
    border:2px solid #f10180;
}
.fu-header .sousuo input[type = text]{

    margin-top: 5px;
    margin-left: 10px;
    width: 300px;
    height: 26px;
    line-height: 30px;
    font-size: 14px;
    color: #333;
    border: none;
    /* background-color: rgb(246, 221, 221); */
    border-radius: 4px;  
    outline: none;
    padding: 0 10px;

}
.fu-header .search .sousuo-img{
    display: block;
    width: 30px;
    height: 32px;
    border: 2px solid #f10180;
    background-color:  #f10180;


    float: left;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
}
/* =====================导航2============================ */
.nav{
    width: 100%-1px;
    height: 43px;
    border-bottom: 2px solid rgb(200, 198, 198);
}
.nav .nav-center{
    width: 1170px;
    height: 43px;
    margin: 0 auto;
    /* border: 1px solid; */
}
.nav .nav-center .caidan{
    background-color: #f10180;
    width: 156px;
    height: 43px;
    margin-right: 20px;
    line-height: 43px; 
    float: left;  
}
.nav .nav-center .caidan .caidan-a{
    text-decoration: none;
    font-size: 16px;
    color: rgb(255, 253, 253);  
     

}
.nav .nav-center .caidan .caidan-a .fenlei{
    display: block;
    width:70px;
    height: 43px;
    margin: auto 42px;
    font-size: 16px;
    color: rgb(253, 253, 253); 
    /* border: 1px solid; */
}
/* 商品分类子标签不显示 */
.nav .nav-center .caidan .caidan-a .fenlei-item{
    display: none;
    width: 156px;
    height: 310px;
    position: absolute;
    background-color: #f10180;
    top:170px;
    list-style: none;
    font-size: 10px;
    z-index: 20;

}
/* 商品子菜单显示 */
.nav .nav-center .caidan .caidan-a:hover .fenlei-item{
    display: block;
}
/* 商品li标签样式 */
.nav .nav-center .caidan .caidan-a .fenlei-item li{
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: relative;
    top:20px;
    color: rgb(252, 252, 252);
       
}
/* 商品li标签点击样式改变 */
.nav .nav-center .caidan .caidan-a .fenlei-item li:hover{
    background-color: aliceblue;
    color: #f10180;
}
/* ============导航推荐，三者疯抢 唯品快抢======================= */
.nav .nav-center .nav-b{
    display: block;
    width: auto;
    height: 43px;
    /* border: 1px solid; */
    color: rgb(107, 104, 104);
    font-size: 13px;
    float: left;
    margin: 0 20px;
    line-height: 43px;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
}
.nav .nav-center .nav-b:hover{
    color: #f10180;
}
.nav .nav-center .tuijian{
    margin-left: 30px;
    display: block;
    color: #f10180;
    font-size: 14px;
   
}
.pinpai{
    width: 80%;
    height: 30px;
    margin: 0 auto;
    /* background-color: rgb(246, 209, 209); */
    margin-bottom: 10px;
    margin-top: 20px;
}
.pinpai .pinpai-name{
    width: 70%;
    height: 100%;

}
.pinpai .pinpai-name .brand{
    width: auto;
    font-size: 18px;
    color: #333333;
    float: left;
    /* border: 1px solid; */
    margin-right: 30px;
}
.pinpai .pinpai-name .zhekou{
    width: 30%;
    height: 100%;
    float: left;
}
.pinpai .pinpai-name .zhekou .zhekou-num{
    width: auto;
    height: 100%;
    font-size: 18px;
    font-weight: bolder;
    color: #333333;
    /* border: 1px solid; */
    line-height: 100%;
    padding-top: 5px;
    float: left;
}
.pinpai .pinpai-name .zhekou .zhekou-name{
    width: auto;
    height: 100%;
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    /* border: 1px solid; */
    line-height: 100%;
    padding-top: 5px;
    margin-left: 5px;
    float: left;
}
.pinpai .pinpai-like{
    float: right;
    margin-right: 20px;
    width:150px;
    height: 20px;
    border: 1px solid red;
    border-radius: 30px;
}

.pinpai .pinpai-like .like-img{
    display: block;
    width: 15px;
    height: 15px;
    /* border: 1px solid; */
    margin-top: 3px;
    margin-left: 10px;
    float: left;
    margin-right: 5px;
    background: url("../svg/like-img.svg");
}
.pinpai .pinpai-like .like-text{
    font-size: 13px;
    line-height: 20px;
    float: left;
    color:  #f32b80;

}
.pinpai .pinpai-like .like-num{
    font-size: 13px;
    color: #686666;
    margin-top: 3px;
    float: left;
    margin-left: 5px;
}
.pinpai .pinpai-like:hover{
    background-color: #f32b80;
    cursor: pointer;
}
.pinpai .pinpai-like:hover .like-text{
    color:white;    
}
.pinpai .pinpai-like:hover .like-num{
    color:white;    
}
.pinpai .pinpai-like:hover .like-img{
    background: url("../svg/like-hover.svg");
}

/* =================筛选===================== */
.layui-tab-title {
    width: 87%;
    height: auto;
    background-color: rgb(218, 162, 88);
    min-width: 1000px;


}
.layui-tab-title .layui-this{
    width: 80px;
    height: auto;
}
.layui-tab-card>.layui-tab-title li{
    font-size: 10px;
}
.layui-tab-card>.layui-tab-title .layui-this {
    background-color: rgb(243, 156, 156);
}
.layui-tab-card>.layui-tab-more .layui-this {
    background: 0 0;
    color: #f32b80;
} */
.layui-tab-card>.layui-tab-title .layui-tab-bar {
    height: 40px;
    line-height: 40px;
    border-radius: 0;
    border-top: none;
    border-right: none;
}

/* =================小筛选======================= */
.filter{
    width: 80%;
    margin: 0 auto;
    height: 46px;
    background-color: #f5f5f5;
    border: 1px solid #dfdfdf;
    min-width: 1000px;
}
.filter .pro-oper{
    width: 600px;
    height: 46px;
    float: left;

}
.filter .pro-oper .oper{
    float: left;
    width: 70px;
    height: 46px;
    border: 1px solid #dfdfdf;
    line-height: 46px;
    text-align: center;
    font-size: 12px;
    float: left;
    cursor: pointer;
}
.filter .pro-oper .oper:hover{
    color: #f32b80;
    border: 1px solid #f32b80;
}
/* ========折扣价格======= */
.filter .pro-oper .select{
    width: 70px;
    float: left;
    border: 1px solid #dfdfdf;
    line-height: 46px;
    height: 46px;
    padding-left: 10px;
    font-size: 12px;
    float: left;
    cursor: pointer;
}
.filter .pro-oper .select:hover{
    color: #f32b80;
    border: 1px solid #f32b80;
}
.filter .select .up{
    float: right;
    display: block;
    width: 12px;
    height: 12px;
    /* border: 1px solid; */
    background: url("../svg/price-up.svg");
    margin-top: 13px;
    margin-right: 25px;
}
.filter .select .down{
    float:right;
    width: 12px;
    height: 12px;
    /* border: 1px solid; */
    background: url("../svg/price-down.svg");
    margin-top: 23px;
    margin-right:-12px
}
/* ==============价格筛选============== */
.filter .oper-price-select{
    float: left;
    width: 280px;
    height: 46px;
}
.filter .oper-price-select:hover{
    background-color: white;    
}
.filter .oper-price-select:hover .ensure{
    display: block;   
}
.filter .oper-price-select:hover .delete{
    display: block;   
}
.filter .oper-price-select .select-start{
    width: 62px;
    height: 24px;
    border: 1px solid #dfdfdf;
    margin-left: 20px;
    margin-top: 10px;
}
.filter .oper-price-select .select-start input[type = text]{
    width: 80%;
    height: 100%;
    background-color: white;
    border: none;
    float: left;
    padding:0 6px;
}
.filter .oper-price-select em{
    float: left;
    margin-top: -20px;
    margin-left: 90px;
}
.filter .oper-price-select .select-end{
    float: left;
    width: 62px;
    height: 24px;
    border: 1px solid #dfdfdf;
    margin-left: 107px;
    margin-top: -26px;
}
.filter .oper-price-select .select-end input[type = text]{
    float: left;
    width: 80%;
    height: 100%;
    background-color: white;
    border: none;
    float: left;
    padding:0 6px;
}
.filter .oper-price-select .ensure{
    display: none;
    width: 30px;
    height: 20px;
    color: white;
    background-color:#f32b80;
    font-size: 14px;
    float: left;
    margin-top: -23px;
    margin-left: 190px;
    margin-right: 10px;
    text-align: center;
    cursor: pointer;
}
.filter .oper-price-select .delete{
    display: none;
    width: 30px;
    height: 20px;
    color: white;
    background-color:#f32b80;
    font-size: 14px;
    float: left;
    margin-top: -23px;
    margin-left: 240px;
    margin-right: 10px;
    text-align: center;
    cursor: pointer;
}
/* =============分页=============== */
.filter .pro-page{
   width: 250px;
   height: 46px;
   /* border: 1px solid; */
   float: right;
   font-weight: 400;

}
.filter .pro-page .page-total{
    width: 70px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    /* border: 1px solid; */
    margin-right: 20px;
    float: left;

}
.filter .pro-page .page-total .page-num{
    color: #f32b80;
}
/* =====分页===== */
.pro-page .layui-laypage {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    font-size: 0;
    margin: 0;
    float: right;
}
.layui-laypage a:hover {
    color: #f32b80;
}


/* =============商品列表====================== */
/* ===========商品小框框========== */
.pro-show-page{
    width: 80%;
    height:auto;
    float: left;
    /* border: 1px solid; */
    margin: 0 150px;
    min-width: 1000px;
}

.pro-show-page .pro-ul .pro-li{
    width: 224px;
    height: 344px;
    float: left;
    margin: 20px 8px;
    border: 1px solid white;
}
.pro-show-page .pro-ul .pro-li .li-li{
    width: 218px;
    height: 338px;
    float: left;
    border: solid 1px #e7e7e7;
    margin: 2px 2px;
}
.pro-show-page .pro-ul .pro-li:hover{
    border: 1px solid #f32b80;
}
.pro-show-page .pro-ul .pro-li:hover .li-li{
    border: none;
}
/* ==============商品框框内容================ */
.page-1{
    display: block;
}
.page-2{
    display: none;
}
.page-3{
    display: none;
}
.page-4{
    display: none;
}
.page-5{
    display: none;
}

.pro-show-page .pro-ul .pro-li .li-li .pro-1-img{
    display: block;
    width: 216px;
    height: 218px;
    margin: auto;
    background-image: url("../images/pro-1-img.jpg");
}
.pro-show-page .pro-ul .pro-li .li-li .pro-2-img{
    display: block;
    width: 216px;
    height: 218px;
    margin: auto;
    background-image: url("../images/pro-2-img.jpg");
}
.pro-show-page .pro-ul .pro-li .li-li .pro-3-img{
    display: block;
    width: 216px;
    height: 218px;
    margin: auto;
    background-image: url("../images/pro-3-img.jpg");
}
.pro-show-page .pro-ul .pro-li .li-li .pro-4-img{
    display: block;
    width: 216px;
    height: 218px;
    margin: auto;
    background-image: url("../images/pro-4-img.jpg");
}
.pro-show-page .pro-ul .pro-li .li-li .pro-5-img{
    display: block;
    width: 216px;
    height: 218px;
    margin: auto;
    background-image: url("../images/pro-5-img.jpg");
}
.pro-show-page .pro-ul .pro-li .li-li .pro-price-item{
    width: 210px;
    height: 20px;
    /* border: 1px solid; */
    margin: auto;
    color: #333333;
    margin-top: 10px;
}
.pro-show-page .pro-ul .pro-li .li-li .pro-price-item .temai{
    display: block;
    width:40px;
    height: 20px;
    /* border: 1px solid; */
    color: #fff;
    text-align: center;
    line-height: 20px;
    font-size: 10px;
    background-color: #e46dfb;
    border-radius: 10px;
    float: left;

}
.pro-show-page .pro-ul .pro-li .li-li .pro-price-item .pro-pri{
    width:70px;
    height: 20px;
    float: left;
    /* border: 1px solid; */
    color: rgb(18, 17, 17);
    text-align: center;
    line-height: 20px;
    font-size: 23px;
    font-weight: 700;
    margin-top: 3px;

}
.pro-show-page .pro-ul .pro-li .li-li .pro-price-item .pre-price{
    text-decoration: line-through;
    float: left;
    color: #999;
    line-height: 14px;
    margin-left: 2px;
    font-size: 14px;
    width: 50px;
    height: 14px;
    /* border: 1px solid; */
    margin-top: 6px;
}
.pro-show-page .pro-ul .pro-li .li-li .pro-price-item .pro-noe-zhekou{
    float: left;
    color: #999;
    line-height: 14px;
    font-size: 14px;
    width: 40px;
    height: 14px;
    /* border: 1px solid; */
    margin-top: 6px;
}
/* =========近60天内最低价============ */
.pro-show-page .pro-ul .pro-li .li-li .lower_price_60{
    line-height: 14px;
    font-size: 14px;
    padding-top: 6px;
    color: #999;
    width: 210px;
    height: 14px;
    /* border: 1px solid; */
    margin: auto; 
    margin: 5px 0;  
}
.pro-show-page .pro-ul .pro-li .li-li .pro-name-text{
    text-overflow: ellipsis;
    min-height: 36px;
    float: left;
    font-size: 12px;
    color: #666;
    line-height: 18px;
    margin-top: 8px;
}
/* ===================底部页码======================= */
.total-page-num{
    width: auto;
    height: 46px;
    /* border: 1px solid;   */
    margin-top: 50px; 
}
.total-page-num .layui-laypage {
    width: auto;
    height: 46px;
    margin-left: 500px;
    line-height: 46px;
    text-align: center;
}


.layui-laypage a, .layui-laypage span {
    width: 36px;
    height: 46px;
    line-height: 46px;
    font-size: 12px;
    
}
.layui-laypage .layui-laypage-curr .layui-laypage-em {
    position: absolute;
    left: -1px;
    top: -1px;
    padding: 1px;
    width: 100%;
    height: 100%;
    background-color: #f32b80;
}
